*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nobar{
    display: flex;
    padding: 30px;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    .left{
        background-color: rgb(58, 58, 207);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        text-align: center;
         p{
            font-size: 50px;
            color: white;
         }
    }
    .right{
        display: flex;
        gap: 40px;
        margin-top: 15px;
        .yellowboi1{
            color: orange;
            span{
                text-decoration: underline blue 4px;
            }
        }
    }
}
.main{
    margin-top: 70px;
    width: 100%;
    height: 700px;
    display: flex;
    padding-left: 80px;
    justify-content: space-between;
    padding-right: 80px;
    .right2{
        width: 300px;
        height: 400px;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-bottom-left-radius: 50%;
        }
    }
    .right2::after{
        content: '';
          width: 100%;
            height: 100%;
            background-color: rgb(26, 136, 136);
            position: absolute;
            right: 20px;
            top: 12px;
            bottom: 0;
            z-index: -1;
            border-bottom-left-radius: 50%;
            transform: rotate(-5deg);
    }
    .left2{
        h3{
         color: rgb(12, 133, 133);
         margin-bottom: 50px;
         font-size: 40px;
        }
        h1{
             color: rgb(12, 133, 133);
         margin-bottom: 50px;
         font-size: 40px;
         width: 300px;
         span{
            color: orange;
         }
        }
        p{
            width: 350px;
            margin-bottom: 50px;
        }
        .b1{
            width: 100px;
            height: 40px;
            background-color: blue;
            border: none;
            border-radius: 15px;
            color: white;
            font-size: large;
        }
        .b2{
            width: 140px;
            height: 40px;
            background-color: rgb(255, 255, 255);
            border: 2px solid blue;
            border-radius: 15px;
            color: rgb(24, 0, 241);
            font-size: large;
        }
    }
}